 <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>At its heart, blogging is about sharing your knowledge with the world. Choosing a topic that you are passionate about makes the process of starting a successful blog so much easier. Writing about more than one topic is totally fine too.</p>
          </div>
          
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="#"><%= fa_icon "github" %></a></li>
              <li><a href="#"><%= fa_icon "instagram" %></a></li>
              <li><a href="#"><%= fa_icon "twitter" %></a></li>
              <li><a href="#"><%= fa_icon "facebook" %></a></li>
              <li><a href="#"><%= fa_icon "linkedin" %></a></li>
            </ol>
          </div>
        </div>
         </div>